<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
<listeners>
<listener class-name="TestNGPackage.Listeners"/>
</listeners>
  <parameter name="URL" value="http://google.com"/>
  <test  name="Personal loan">
    <classes>
      <class name="TestNGPackage.firstTestNGclass">
      
      	<methods>
      		<include name="test1"></include>
      	
      	</methods>
      
      </class>
      
      <class name="TestNGPackage.SecondTestNGclass"/>
    </classes>
  </test> 
  
  <test  name="carloan">
    <classes>
      <class name="TestNGPackage.ThirdTestNGclass">
     	 <methods>
      		<exclude name="mobilecarloan"/>		
      	</methods>
      
      </class>
      
    </classes>
  </test>
  
   <test  name="homeloan">
   <parameter name="URL" value="https://rahulshettyacademy.com/angularpractice/"/>
   <parameter name="APikey" value="12345"/>
   
    <classes>
      <class name="TestNGPackage.FourthTestNGclass2">
      	<methods>
      		<exclude name="mobile.*"></exclude>
      	</methods>
      
      </class>
     </classes>
  </test>
  
</suite> 
